@include describe('@mixin placeholder') {
  @include it('should add all appropriate placeholder browser prefixes') {
    @include assert {
      @include output {
        div {
          @include placeholder {
            color: red;
            opacity: 0.5;
          };
        }
      }

      @include expect {
        div::-webkit-input-placeholder {
          color: red;
          opacity: 0.5;
        }
    
        div:-moz-placeholder {
          color: red;
          opacity: 0.5;
        }
    
        div::-moz-placeholder {
          color: red;
          opacity: 0.5;
        }
    
        div:-ms-input-placeholder {
          color: red;
          opacity: 0.5;
        }
    
        div::-ms-input-placeholder {
          color: red;
          opacity: 0.5;
        }
    
        div::placeholder {
          color: red;
          opacity: 0.5;
        }
      }
    }
  }
}
