@include describe('@mixin truncate') {
  @include it('should add white-space, overflow, & ellipsis properties') {
    @include assert {
      @include output {
        @include truncate();
      }

      @include expect {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}
