.btn {
  display: inline-block;
  padding: 9px 18px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  border: 0;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  color: v('btn-color');
  background: v('btn-bg-color');
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);

  &:hover,
  &:focus {
    color: v('btn-hover-color');
    background-color: v('btn-hover-bg-color');
  }

  &--primary {
    color: v('btn-primary-color');
    background-color: v('btn-primary-bg-color');

    &:hover,
    &:focus {
      color: v('btn-primary-hover-color');
      background-color: v('btn-primary-hover-bg-color');
    }
  }

  &--secondary {
    color: v('btn-secondary-color');
    background-color: v('btn-secondary-bg-color');

    &:hover,
    &:focus {
      color: v('btn-secondary-hover-color');
      background-color: v('btn-secondary-hover-bg-color');
    }
  }

  &--lg {
    padding: 22px 28px;
  }

  &--sm {
    padding: 2px 8px;
    font-size: 12px;
  }

  &--full-width {
    width: 100%;
  }

  &--disabled,
  &:disabled {
    opacity: 0.75;
    cursor: not-allowed;
  }
}
