.form-control {
  position: relative;
  display: block;
  width: 100%;
  height: $spacer-l;
  padding: $spacer-xxs $spacer-xs;
  font-size: 1rem;
  line-height: 1.5;
  color: v('body-text-color');
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
