.form-control {
  position: relative;
  display: block;
  width: 100%;
  height: var(--mdl-form-control-height);
  padding: var(--mdl-form-control-padding-y) var(--mdl-form-control-padding-x);
  color: var(--mdl-form-control-color);
  font-size: var(--mdl-form-control-font-size);
  line-height: 1.5;
  background-color: var(--mdl-form-control-bg-color);
  background-clip: padding-box;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;

  &.-success {
    --mdl-form-control-label-color: $color-limerick;
  }

  &.-error {
    --mdl-form-control-label-color: red;
  }
}

.floating-label {
  position: relative;

  &__label {
    position: absolute;
    top: 0;
    left: 0;
    height: var(--mdl-form-control-height);
    padding-right: var(--mdl-form-control-padding-x);
    padding-left: var(--mdl-form-control-padding-x);
    color: var(--mdl-form-control-label-color);
    font-size: var(--mdl-form-control-font-size);
    line-height: var(--mdl-form-control-height);
    border: 1px dotted red;
    transform-origin: 0 0;
    backface-visibility: hidden;
    transition: transform 0.25s, opacity 0.25s, padding 0.25s ease-in-out;
    // pointer-events: none;
  }

  &__input {
    position: relative;

    &:focus,
    &:not(:placeholder-shown) {
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
    }

    &:focus + .floating-label__label,
    &:not(:placeholder-shown) + .floating-label__label {
      transform: translate(0, -75%) scale(0.75);
    }
  }
}
