.media-row {
  display: flex;
  justify-content: space-evenly;
  margin: 0 -15px;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }

  &.media-row--reversed {
    flex-direction: row-reverse;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }

  &__image,
  &__content {
    box-shadow: 0 0 22px 0 rgba(0, 0, 0, 0.19);
    background-color: #fff;

    @include media-breakpoint-down(sm) {
      box-shadow: none;
    }
  }

  &__image {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include media-breakpoint-down(sm) {
      height: 75vw;
      padding: 0;
      margin: 0;
    }
  }

  &__content {
    min-width: 400px;
    padding: 48px 48px;
    margin: 64px 0 64px -10%;

    @include media-breakpoint-down(sm) {
      min-width: 0;
      max-width: 100%;
      width: 100%;
      margin: 0;
    }

    .media-row--reversed & {
      margin: 64px -10% 64px 0;

      @include media-breakpoint-down(sm) {
        margin: 0;
      }
    }
  }
}
