.h1 {
  @extend h1;

  &.mega {
    font-size: 2rem;
    line-height: 2rem;
  }
}

.h2 {
  @extend h2;

  &.mega {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}

.h3 {
  @extend h3;
}

.h4 {
  @extend h4;
}

.h5 {
  @extend h5;
}

.h6 {
  @extend h6;
}

.blockquote {
  @extend h1;
}
