// Options
//
// Configurable developer options when importing Base UI SCSS.

$import-font: true !default;

// Colors
//
// Define our color names.
// These should only be used as a value within a theme map.

$color-limerick: #99c221;
$color-deepgrey: #53565a;
$color-slategrey: #7c878e;
$color-khaki: #b8b298;
$color-silver: #ddd;
$color-burntorange: #c33;
$color-teal: #069;
$color-aqua: #0097a9;
$color-islandblue: #369;
$color-burgundy: #7e2d40;
$color-night: #000;
$color-onyx: #343639;
$color-blackolive: #393c40;
$color-pastelgrey: #ccc;
$color-grey: #f3f3f3;
$color-snow: #fafafa;
$color-white: #fff;
$color-blue: #5188f3;
$color-blueberry: #4d82e9;
$color-outerspace: #4b4b4b;
$color-rust: #d11818;
$color-taupegrey: #938b82;
$color-deepblend: linear-gradient(0deg, $color-blackolive 0%, $color-deepgrey 100%);

// Spacing
//
// Define our hard values used for spacing.

$spacer-base: 0.25rem;

// Typography
//
// Define our font related vars. 

$font-url: 'https://cloud.typography.com/7038756/6738972/css/fonts.css';
$font-family-base: 'Gotham SSm A', 'Gotham SSm B', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
$font-family-monospace: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

@include _assert-ascending($grid-breakpoints, '$grid-breakpoints');
@include _assert-starts-at-zero($grid-breakpoints, '$grid-breakpoints');

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

@include _assert-ascending($container-max-widths, '$container-max-widths');

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns: 12;
$grid-gutter-width: 30px;
$grid-row-columns: 6;

// Container padding

$container-padding-x: $grid-gutter-width / 2 !default;
